<div class="swiper-slide" column="{{ column }}" data-classname="{{classname|raw}}" > 
    <div class="filter filter-type--badge antares-dropjs-filter" data-type="{{ type|default('status')|raw }}">
        <div class="card-filter__sgl ddown__init dropjs-target dropjs--no-active datatables-card-filter" data-filter-value="{{ column }}" column="{{ column }}" data-classname="{{classname|raw}}">
            <span>{{ name|raw }}</span>
            {% if name|length>0 %}
                <i class="zmdi zmdi-close datatable-disable-selected-filter" data-url="{{ handles('antares/foundation::datatables/filters/delete') }}"></i>
            {% endif %}
        </div>
        <div class="dropjs-wrapper">
            <div class="filter-content filter--badge" data-type="{{ type|default('status')|raw }}" column="{{ column }}" data-classname="{{classname|raw}}">
                <span>Filter By {{ column }}</span>
                <div class="slider-box">
                    <ul>
                        {{ subview|raw }} 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

